<div class="top-nav">
  <a class="active" href="#home">Funny Movie</a>
  <div class="login-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Password" name="psw">
      <button type="submit">Login</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="left-column"  style="padding: 0 500px">
    <div class="card">
      <div>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fake-img" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fake-img" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
</div>